@import '../../variables.scss';

.services {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

.service {
  background: $color-bg-variant;
  border-radius: 0.5rem 0.5rem 2rem 2rem;
  border: 1px solid $color-primary;
  height: fit-content;
  transition: $transition;

  &:hover {
    background: transparent;
    border-color: $color-bg-variant;
    cursor: default;
  }

  &__head {
    background: $color-primary;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);

    h3 {
      color: $color-bg;
      font-size: 1rem;
      text-align: center;
    }
  }

  &__list {
    padding: 2rem;

    li {
      display: flex;
      gap: 1rem;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  &-icon {
    color: $color-primary;
    margin-top: 2px;
  }
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  .services {
    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }

  .service {
    height: auto;
  }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
  .services {
    &__container {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
}
