@import '../../variables.scss';

.goTop {
  position: fixed;
  bottom: 2.7rem;
  right: 12.5%;
  text-align: center;
  font-weight: 500;
  font-size: 0.6em;
  color: $color-bg;
  background: $color-primary;
  z-index: 100;
  padding: 8px 8px;
  border-radius: 50%;
  // opacity: 0;

  &:hover {
    background: $color-bg;
  }
}
// .active {
//   display: block;
//   animation: fadeIn 0.4s;
// }

// .inactive {
//   display: none;
//   animation: fadeOut 0.4s;
// }

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  // .goTop{
  //     display: none;
  // }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
  .goTop {
    bottom: 7rem;
    right: 5.4%;
  }
}
