@import '../../variables.scss';

.experience {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    > div {
      background: $color-bg-variant;
      padding: 2.4rem 5rem;
      border-radius: 2rem;
      border: 1px solid transparent;
      transition: $transition;

      &:hover {
        background: transparent;
        border-color: $color-primary-variant;
        cursor: default;
      }

      h3 {
        text-align: center;
        margin-bottom: 2rem;
        color: $color-primary;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }

  &__details {
    display: flex;
    gap: 1rem;

    &-icon {
      margin-top: 6px;
      color: $color-primary;
    }
  }
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media screen and (max-width: 1024px) {
  .experience {
    &__container {
      grid-template-columns: 1fr;

      > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
      }
    }

    &__content {
      padding: 1rem;
    }
  }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ===================== */
@media screen and (max-width: 600px) {
  .experience {
    &__container {
      gap: 1rem;

      > div {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
      }
    }

    &__content {
      padding: 1rem;
    }
  }
}
